<div class="fixed-bottom text-center">
  <div class="footer" role="banner">
    <div class="spacer"></div>
    <span>Developed by Vanessa Tran at <a href="https://www.linkedin.com/in/minhthytran/"
                                                              class="badge badge-info">LinkedIn</a> </span>
  </div>
</div>
