<app-toolbar [title]="title"></app-toolbar>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Payment Plan
        </div>
        <div class="card-body">
          <form [formGroup]="resForm">
            <div class="form-group row">
              <label for="mortgageAmount" class="col-sm-4 col-form-label">Mortgage Amount:</label>
              <div class="col-sm-8">
                <div class="input-group" id="mortgageAmount">
                  <input type="number" class="form-control" formControlName="mortgageAmount"
                         aria-label="Mortgage Amount">
                  <div class="input-group-append">
                    <span class="input-group-text">$</span>
                  </div>
                </div>
                <div class="alert alert-danger validation" role="alert"
                     *ngIf="resForm.get('mortgageAmount').hasError('required') && (resForm.get('mortgageAmount').touched || resForm.get('mortgageAmount').dirty)">
                  Mortgage Amount is required to calculate.
                </div>
                <div class="alert alert-danger validation" role="alert"
                     *ngIf="resForm.get('mortgageAmount').hasError('min') && (resForm.get('mortgageAmount').dirty || resForm.get('mortgageAmount').touched)">
                  Mortgage Amount must be more than or equals with 0.
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="interestRate" class="col-sm-4 col-form-label">Interest Rate:</label>
              <div class="col-sm-8">
                <div class="input-group" id="interestRate">
                  <input type="number" class="form-control" formControlName="interestRate" aria-label="Interest Rate">
                  <div class="input-group-append">
                    <span class="input-group-text">%</span>
                  </div>
                </div>
                <div class="alert alert-danger validation" role="alert"
                     *ngIf="resForm.get('interestRate').hasError('required') && (resForm.get('interestRate').touched || resForm.get('interestRate').dirty)">
                  Interest Rate is required to calculate.
                </div>
                <div class="alert alert-danger validation" role="alert"
                     *ngIf="resForm.get('interestRate').hasError('min') && (resForm.get('interestRate').dirty || resForm.get('interestRate').touched)">
                  Interest Rate must be more than or equals with 0.
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="amortizationPeriod" class="col-sm-4 col-form-label">Amortization Period:</label>
              <div class="col-sm-8" id="amortizationPeriod">
                <select class="form-control" id="amortizationPeriodYear" formControlName="amortizationPeriodYear">
                  <option
                    *ngFor="let year of amortizationPeriodYears"
                    [value]="year">
                    {{year | plural: 'year'}}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="paymentFrequency" class="col-sm-4 col-form-label">Payment frequency:</label>
              <div class="col-sm-8">
                <select class="form-control" id="paymentFrequency" formControlName="paymentFrequency">
                  <option
                    *ngFor="let option of paymentFrequencyOptions"
                    [value]="option.value">
                    {{option.label}}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="term" class="col-sm-4 col-form-label">Term:</label>
              <div class="col-sm-8">
                <select class="form-control" id="term" formControlName="term">
                  <option
                    *ngFor="let term of terms"
                    [value]="term">
                    {{term | plural: 'year'}}
                  </option>
                </select>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Prepayment Plan
        </div>
        <div class="card-body">
          <form [formGroup]="resForm">
            <div class="form-group row">
              <label for="prePaymentAmount" class="col-sm-5 col-form-label">Prepayment Amount:</label>
              <div class="col-sm-7">
                <div class="input-group" id="prePaymentAmount">
                  <input type="number" class="form-control" formControlName="prePaymentAmount"
                         aria-label="Prepayment Amount">
                  <div class="input-group-append">
                    <span class="input-group-text">$</span>
                  </div>
                </div>
                <div class="alert alert-danger validation" role="alert"
                     *ngIf="resForm.get('prePaymentAmount').hasError('required') && (resForm.get('prePaymentAmount').dirty || resForm.get('prePaymentAmount').touched)">
                  Prepayment Amount is required to calculate.
                </div>
                <div class="alert alert-danger validation" role="alert"
                     *ngIf="resForm.get('prePaymentAmount').hasError('min') && (resForm.get('prePaymentAmount').dirty || resForm.get('prePaymentAmount').touched)">
                  Prepayment Amount must be more or equals with 0.
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row next-row" *ngIf="resForm && resForm.valid">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header text-center">
          <h4>Calculation Summary</h4>
        </div>
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Category</th>
            <th scope="col">Term</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Number of Payments</td>
            <td>{{mortgage.numberOfPaymentsPerTerm}}</td>
          </tr>
          <tr>
            <td>Mortgage Payment</td>
            <td>{{mortgage.paymentPerTime}}</td>
          </tr>
          <tr>
            <td>Prepayment</td>
            <td>{{mortgage.prePaymentAmount}}</td>
          </tr>
          <tr>
            <td>Interest Payments</td>
            <td>{{mortgage.totalInterestPaymentForTerm}}</td>
          </tr>
          <tr>
            <td>Principal Payment</td>
            <td>{{mortgage.principalPaymentForTerm}}</td>
          </tr>
          <tr>
            <td>Total Cost</td>
            <td>{{mortgage.totalCostForTerm}}</td>
          </tr>
          <tr>
            <td>Interest Savings with Prepayment Plan</td>
            <td>{{mortgage.savingInterestForTerm}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row next-row">
    <div class="col-md-12">
      <h4 class="text-center">Mortgage Summary</h4>
      <p>
        Over the {{resForm.get('term').value}} you will:
      </p>
      <ul>
        <li>have made {{mortgage.numberOfPaymentsPerTerm}} {{resForm.get('paymentFrequency').value | getLabel: paymentFrequencyOptions}} of $ {{mortgage.paymentPerTime}}.
        </li>
        <li>have paid ${{mortgage.principalPaymentForTerm}} in principal, ${{mortgage.totalInterestPaymentForTerm}} in interest, for a total of ${{mortgage.totalCostForTerm}}.</li>
      </ul>
    </div>
  </div>
</div>
<app-footer></app-footer>



